h1{
	
	color : red;
}

body {
background: url('../images/bg.jpg') no-repeat center center fixed;
font-family: "Open Sans", Arial, sans-serif!important;
}

body a{
	color:white;
	font-weight:bold;
}



/*!
 * Start -  Sidebar
 */

.title-menu-left span {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	height: 22px;
	line-height: 20px;
	padding: 0 11px;
	left: 10px;
	position: relative;
}

#logo {
	left: 19px;
	position: relative;
	max-width: 191px;
}
#logo h1, #logo-mobile h1 {
	font-size: 30px;
	font-weight: 200;
	letter-spacing: -1px;
	text-decoration: inherit;
	text-transform: uppercase;
	color: #fff;
}

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	overflow: hidden;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-radius: 3px;
	box-shadow: -2px 0px 7px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;



}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 100px;
	width: 250px;

	font-size: 14px;
	line-height: 0.5em!important;
	list-style: none!important;
	padding: 0;
	/*box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);*/


}

.sidebar-nav li {
	/*text-indent: 20px;*/
	/*line-height: 40px;*/
	background: rgba(255,255,255,0.1);
	border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 0;
	list-style: none outside none;
	margin: 0;
}

.sidebar-nav li a {

	color: #FFFFFF !important;
	display: block;
	font-size: 13px;
	line-height: 25px;
	list-style: none outside none;
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	text-transform: capitalize;


}

.mybox{
	height: 100%; background-color: rgba(255,255,255,0.1); padding: 10px; border-radius:10px
}

.running-text {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	color: #FFFFFF;
	margin: 7px;
	padding: 10px 45px 0 20px;
	width: 48%;
}
.date-top {
	border-right: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
	float: left;
	margin-left: -30px;
	padding-right: 15px;
}

.date-top > li {
	display: inline;
}
.date-top > li {
	display: inline;
}
.digital {
	border-right: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
	float: left;
	margin-left: -25px;
	margin-right: -25px;
	padding-right: 15px;
}
.digital li {
	display: inline;
}
#nt-title li {
	list-style: none outside none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sidebar-nav li a:hover {
	background-color:rgba(255, 255, 255, 0.1);
	/* #252d3b */
	color: white!important;
	text-shadow: none;
	border-left: 2px solid #ffffff;
	padding-left: 28px;
	position: relative;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}


@media(min-width:768px) {
	#wrapper {
		padding-left: 250px;
	}

	#wrapper.toggled {
		padding-left: 0;
	}

	#sidebar-wrapper {
		width: 250px;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}

	#page-content-wrapper {
		padding: 20px;
		position: relative;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}


/*weather*/
.weather-wrap {
	background-color: rgba(255, 255, 255, 0.2);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 4px;
	color: #FFFFFF;
	min-height: 307px;
	position: relative;
	margin-top: 30px;
}
.temperature {
	font-size: 21px;
	margin: 20px;
	z-index: 1;
}
.temperature span {
	float: right;
}
.weather-icon {
	margin: 70px 20px 0;
	z-index: 1;
}
.weather-icon i {
	font-size: 90px;
}
.weather-text > h2 {
	font-size: 30px;
	font-weight: 600;
	letter-spacing: -1px;
	position: relative;
	top: 30px;
	padding: 0 25px;
}

.weather-text > h3 {
	float: right;
	font-size: 57px;

	padding: 0 25px;
	position: relative;
}
.weather-text > h3 > i {
	font-size: 47px;
	margin: 0 10px;
}

.weather-dash {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
	padding: 5% 20px;
}
.daily-weather {
	text-align: center;
}
.daily-weather > h2 {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	padding: 5px 0;
	text-align: center;
	text-transform: uppercase;
}
.daily-weather > h3 {
	font-size: 30px;
	font-weight: bold;
	margin: 10px 0;
	text-align: center;
	text-transform: uppercase;
}
.daily-weather h3 span {
	font-size: 15px;
}
.daily-weather > h4 {
	font-size: 30px;
	margin: 10px 0;
	text-align: center;
	text-transform: uppercase;
}
.daily-weather > h5 {
	font-size: 18px;
	font-weight: normal;
	margin: 15px 0;
	text-align: center;
	text-transform: uppercase;
}
.daily-weather > h5 > p {
	font-size: 12px;
}
.traffic > h2 {
	font-size: 14px;
	margin: 0;
}
.traffic > h1 {
	color: #45B6B0;
	font-size: 35px;
	font-weight: 600;
	margin: 5px 0;

}
.speed > h2 {
	font-size: 14px;
	margin: 0;
}
.speed > h1 {
	color: #45B6B0;
	font-size: 50px;
	font-weight: 600;
	margin: 5px 0;
	margin: 5px 0;
}
.speed > h1 > span {
	background: none repeat scroll 0 0 #45B6B0;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: normal;
	left: -5px;
	margin: 0;
	padding: 0 5px;
	position: relative;
	text-transform: uppercase;
}



/*
Equipements
*/

#equipements li{

	display: block;
	width : 20%;
	box-shadow: 1px 3px 1px;
	float:left;
	margin: 5px;
	border-radius: 10px;
	height: 200px;
	background: rgba(203, 193, 193, 0.20);
	vertical-align: middle;
	text-align: center;
	padding: 0;
	border: 0;



}
#equipements li img{
	margin-top: 30px;
	width: 130px;
}
#equipements li:hover{

	background: rgba(224, 214, 214, 0.20);

}

#equipements li:active{
	box-shadow: 1px 1px 1px;


}

