
    <ul class="nav nav-tabs">
        <li class="nav active"><a href="#serveurs" data-toggle="tab">IP des serveurs</a></li>
        <li class="nav"><a href="#zwave" data-toggle="tab">Configuration Zwave</a></li>
        <li class="nav"><a href="#geolocalisation" data-toggle="tab">Geolocalisation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade" id="geolocalisation">

            <div class="input-group">
            <input ng-model="city" type="text" class="form-control" placeholder="Ville">
              <span class="input-group-btn">
                <button ng-click="ChangeCity(city)" class="btn btn-default" type="button">OK!</button>
              </span>
            </div><!-- /input-group -->

        </div>
        <div class="tab-pane fade in active" id="serveurs">


            <div class="input-group">
                <span><b>L'IP du IPX800 : </b></span><br/>
                <input ng-model="setting.ipx" type="text" class="form-control" placeholder="L'IPX800">
                <span><b>IP Serveur NAS : </b> </span><br/>
                <input ng-model="setting.nas" type="text" class="form-control" placeholder="Serveur NAS">

                <span><b>IP du Compteur EDF : </b></span><br/>
                <input ng-model="setting.edf" type="text" class="form-control" placeholder="Serveur EDF">


                <!--<span class="input-group-btn">-->
                <!--<button ng-click="IpSetting(setting)" class="btn btn-default" type="button">OK!</button>-->


            </div><!-- /input-group -->


        </div>
        <div class="tab-pane fade" id="zwave">
            <span><b>IP Zwave : </b></span><br/>
            <input ng-model="setting.zwave.ip" type="text" class="form-control" placeholder="Serveur Zwave">

            <span><b>Username et mot de passe Zwave : </b></span><br/>
            <input ng-model="setting.zwave.user" type="text" class="form-control" placeholder="Utilisateur Zwave">
            <input ng-model="setting.zwave.password" type="text" class="form-control" placeholder="mot de passe Zwave">


            <span><b>Prises Z-wave : </b></span><br/>
            <input ng-model="setting.zwave.prises.prise1.id" type="text" class="form-control" placeholder="Id prise 1">
            <input ng-model="setting.zwave.prises.prise1.name" type="text" class="form-control" placeholder="Nom de prise 1">
            <span></span>
            <input ng-model="setting.zwave.prises.prise2.id" type="text" class="form-control" placeholder="Id prise 2">
            <input ng-model="setting.zwave.prises.prise2.name" type="text" class="form-control" placeholder="Nom de prise 2">
            <span></span>
            <input ng-model="setting.zwave.prises.prise3.id" type="text" class="form-control" placeholder="Id prise 3">
            <input ng-model="setting.zwave.prises.prise3.name" type="text" class="form-control" placeholder="Nom de prise 3">


        </div>
    </div>
