<div id="equipements">

<!--{{sorties}}-->
{{sorties}}

    <div class="row">
        <div class="col-md-6">

            <div id="whitebox">

                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Tableau de consomation</div>

                <table class="table table-bordered" style="text-align: center;">
                    <thead>
                    <tr>
                        <th>POSTE</th>
                        <th>W</th>
                        <th>KWh</th>
                        <th>ON/OFF</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Lave-linge</th>
                        <td>1800</td>
                        <td>0.8</td>
                        <td>
                    <span class="toggleicon" ng-click="selecteqp(0)">
                        <!--<span>{{eqpstat[0]}}</span>-->
                        <img ng-if="sorties.ipx.OUT1 == 1" src="images/on.png" alt=""/>
                        <img ng-if="sorties.ipx.OUT1  == 0" src="images/off.png" alt=""/>

                    </span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Lave-linge</th>
                        <td>800</td>
                        <td>0.8</td>
                        <td>
                    <span class="toggleicon" ng-click="selecteqp(0)">
                        <!--<span>{{eqpstat[0]}}</span>-->
                        <img ng-if="sorties.ipx.OUT1 == 1" src="images/on.png" alt=""/>
                        <img ng-if="sorties.ipx.OUT1  == 0" src="images/off.png" alt=""/>

                    </span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Lave-linge</th>
                        <td>800</td>
                        <td>0.8</td>
                        <td>
                    <span class="toggleicon" ng-click="selecteqp(0)">
                        <!--<span>{{eqpstat[0]}}</span>-->
                        <img ng-if="sorties.ipx.OUT1 == 1" src="images/on.png" alt=""/>
                        <img ng-if="sorties.ipx.OUT1  == 0" src="images/off.png" alt=""/>

                    </span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Lave-linge</th>
                        <td>800</td>
                        <td>0.8</td>
                        <td>
                    <span class="toggleicon" ng-click="selecteqp(0)">
                        <!--<span>{{eqpstat[0]}}</span>-->
                        <img ng-if="sorties.ipx.OUT1 == 1" src="images/on.png" alt=""/>
                        <img ng-if="sorties.ipx.OUT1  == 0" src="images/off.png" alt=""/>

                    </span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Lave-linge</th>
                        <td>800</td>
                        <td>0.8</td>
                        <td>
                    <span class="toggleicon" ng-click="selecteqp(0)">
                        <!--<span>{{eqpstat[0]}}</span>-->
                        <img ng-if="sorties.ipx.OUT1 == 1" src="images/on.png" alt=""/>
                        <img ng-if="sorties.ipx.OUT1  == 0" src="images/off.png" alt=""/>

                    </span>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>


        </div>
        <div class="col-md-6">

            <div class="col-md-6">

            <div id="whitebox">

                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Tableau de consomation</div>

                    <table class="table table-bordered" style="text-align: center;">
                        <thead>
                        <tr>
                            <th>POSTE</th>
                            <th>W</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Lave-linge</th>
                            <td>1800</td>

                        </tr>
                        <tr>
                            <th scope="row">Lave-linge</th>
                            <td>800</td>

                        </tr>
                        <tr>
                            <th scope="row">Lave-linge</th>
                            <td>800</td>

                        </tr>
                        <tr>
                            <th scope="row">Lave-linge</th>
                            <td>800</td>

                        </tr>
                        <tr>
                            <th scope="row">Lave-linge</th>
                            <td>800</td>

                        </tr>
                        </tbody>
                    </table>

                </div>


        </div>
            </div>

            <div class="col-md-6">

                <div id="whitebox">

                    <div class="panel panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Tableau de consomation</div>

                        <table class="table table-bordered" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>POSTE</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Lave-linge</th>
                                <td>1800</td>

                            </tr>
                            <tr>
                                <th scope="row">Lave-linge</th>
                                <td>800</td>

                            </tr>
                            <tr>
                                <th scope="row">Lave-linge</th>
                                <td>800</td>

                            </tr>
                            <tr>
                                <th scope="row">Lave-linge</th>
                                <td>800</td>

                            </tr>
                            <tr>
                                <th scope="row">Lave-linge</th>
                                <td>800</td>

                            </tr>
                            </tbody>
                        </table>

                    </div>


                </div>
            </div>
    </div>


    <ul>
        <li ng-click="selecteqp(0)">
            <!--<span>{{eqpstat[0]}}</span>-->
            <img ng-if="sorties.ipx.OUT1 == 1" src="images/icons/four.png" alt=""/>
            <img ng-if="sorties.ipx.OUT1  == 0" src="images/icons/four_off.png" alt=""/>

        </li>

        <li ng-repeat="prise in setting.zwave.prises" ng-click="selectplug(prise.id)">
            <h3>{{prise.name}}</h3>
            <h6>Consomation: <b>{{prise.id / 4}} Watts</b></h6>
            <h6>Voltage: <b>{{prise.id * 4}} Volts</b></h6>
            <h6>Amperage: <b>{{prise.id / 2}} Amps</b></h6>
            <br/>
            <h6>ETAT: <b>{{eqpstat[prise.id]}}</b></h6>


            <!--<span>{{eqpstat[prise.id]}}</span>-->

        </li>



    </ul>





</div>